body { background:#f9fafb; }
.navbar { background:#282c34 !important; }
h2 { font-weight: 500; margin-top: 0; }
.form-control { width: 100%; }
.modal .modal-header .btn-close { filter:invert(0.8); }
